html,
body {
  min-height: 100vh;
  font-family: "Roboto";
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../image/body_70.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  flex-grow: 2;
  padding: 24px;
}
.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

h2 {
  padding-top: 1.875rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#subTitle {
  padding-top: 0.375rem;
  font-size: 1.125rem;
  font-weight: medium;
  text-align: center;
  font-style: italic;
}

p {
  padding-top: 1.875rem;
  font-size: 1rem;
}
/* Navbar */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(38, 38, 38, 1);
  border-bottom: solid 0.063rem gray;
}

nav #logo {
  height: 50px;
}

nav button img {
  height: 36px;
}

nav button {
  position: fixed;
  top: 7px;
  right: 7px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#navLink > a {
  padding: 1rem 0.5rem 1rem 0.5rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
/* Header */
header {
  min-height: 53px;
}
header img {
  display: none;
}

/* Footer */
footer,
a {
  font-size: 14px;
  color: white;
}

footer ul {
  background-color: rgb(38, 38, 38, 0.5);
  padding: 0.357rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul li {
  padding: 0 0.357rem;
  border-right: solid 0.071rem white;
}
footer ul li:last-child {
  border: 0;
}

footer ul li a {
  text-decoration: none;
  cursor: pointer;
}

footer p {
  background-color: rgb(38, 38, 38, 0.8);
  padding: 0.357rem;
  text-align: center;
}

@media only screen and (min-width: 767px) {
  main {
    width: 80%;
    margin: auto;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    padding-top: 1.875rem;
    font-size: 2.75rem;
    font-weight: bold;
    text-align: center;
  }
  #subTitle {
    padding: 0;
    font-size: 2.5rem;
    font-weight: medium;
    text-align: center;
    font-style: italic;
  }

  p {
    padding-top: 1.875rem;
    font-size: 1.25rem;
  }

  /* Navbar */
  nav {
    width: 100%;
    background-color: rgb(38, 38, 38, 0.4);
    border-bottom: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav button {
    display: none;
  }
  /* Header */
  header {
    border-bottom: solid 0.063rem gray;
  }
  header img {
    display: block;
    width: 100%;
  }
  /* Footer */
  footer {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  /* Navbar */
  .hidden {
    display: none;
  }

  .flex {
    display: flex;
  }

  #navLink {
    flex-direction: column;
    border-top: solid 0.125rem gray;
  }
}
